<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application</key>
	<dict>
		<key>mainColor</key>
		<string>#0086c6</string>
		<key>navigationBarAlpha</key>
		<string>0.65</string>
		<key>loadingTextColor</key>
		<string>#999999</string>
		<key>appLogoImage</key>
		<string>appLogo</string>
		<key>cellPhotoPlaceholderImage</key>
		<string>cellPhotoPlaceholder</string>
		<key>iconPlaceholderImage</key>
		<string>iconPlaceholder</string>
		<key>userPlaceholderImage</key>
		<string>userPlaceholder</string>
		<key>photoPlaceholderImage</key>
		<string>photoPlaceholder</string>
		<key>noPhotosImage</key>
		<string>noPhotos</string>
		<key>textFieldAcceptableChars</key>
		<string> ABCÇDEFGĞHIİJKLMNOÖPQRSŞTUÜVWXYZabcçdefgğhıijklmnoöpqrsştuüvwxyz</string>
	</dict>
	<key>foursquare</key>
	<dict>
		<key>foursquareClientId</key>
		<string>32CVFWMZIJ1FZR2TQIWWUEZVJ54EZLRH4EOV020PZK0G5A2D</string>
		<key>foursquareClientSecret</key>
		<string>HBKXE3ACWZFYW0GUPTFEQSXVA4HROECNZ40A4E5FL4NHDMAU</string>
		<key>apiBaseUrl</key>
		<string>https://api.foursquare.com/v2/</string>
		<key>venuesExplore</key>
		<string>venues/explore?</string>
		<key>venuesCategories</key>
		<string>venues/categories?</string>
		<key>multiRequest</key>
		<string>multi?requests=</string>
		<key>foursquareFooterImage</key>
		<string>PoweredByFoursquare</string>
	</dict>
	<key>categoriesTableView</key>
	<dict>
		<key>textColor</key>
		<string>#214f87</string>
		<key>selectionColor</key>
		<string>#D4EEFF</string>
		<key>selectionAlpha</key>
		<string>0.2</string>
		<key>fontName</key>
		<string>HelveticaNeue-Light</string>
		<key>fontSize</key>
		<string>22.0</string>
		<key>cellRowHeight</key>
		<string>60.0</string>
	</dict>
	<key>generalTableView</key>
	<dict>
		<key>textColor</key>
		<string>#333333</string>
		<key>detailTextColor1</key>
		<string>#555555</string>
		<key>detailTextColor2</key>
		<string>#ACACAC</string>
		<key>backgroundColor</key>
		<string>#E7E7E7</string>
		<key>selectionColor</key>
		<string>#F5F5F5</string>
		<key>selectionAlpha</key>
		<string>0.6</string>
		<key>sectionColor</key>
		<string>#EFEFEF</string>
	</dict>
	<key>defaultFilterItem</key>
	<dict>
		<key>isOpen</key>
		<false/>
		<key>isVerified</key>
		<false/>
		<key>resultCount</key>
		<string>20</string>
		<key>distanceRadius</key>
		<string>1000</string>
		<key>minimumDistance</key>
		<string>100</string>
		<key>maximumDistance</key>
		<string>5000</string>
		<key>sortByDistance</key>
		<true/>
		<key>sortByRating</key>
		<false/>
		<key>sortByLikes</key>
		<false/>
	</dict>
	<key>categories</key>
	<array>
		<dict>
			<key>categoryId</key>
			<string>4d4b7105d754a06374d81259</string>
			<key>categoryNameKey</key>
			<string>CategoryRestaurant</string>
			<key>categoryColor</key>
			<string>#0086c6</string>
			<key>categoryIcon</key>
			<string>iconRestaurant</string>
			<key>categoryPinIcon</key>
			<string>pinRestaurant</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d1e0931735</string>
			<key>categoryNameKey</key>
			<string>CategoryCoffee</string>
			<key>categoryColor</key>
			<string>#34315f</string>
			<key>categoryIcon</key>
			<string>iconCoffee</string>
			<key>categoryPinIcon</key>
			<string>pinCoffee</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d17f941735</string>
			<key>categoryNameKey</key>
			<string>CategoryCinema</string>
			<key>categoryColor</key>
			<string>#391558</string>
			<key>categoryIcon</key>
			<string>iconCinema</string>
			<key>categoryPinIcon</key>
			<string>pinCinema</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d137941735</string>
			<key>categoryNameKey</key>
			<string>CategoryTheater</string>
			<key>categoryColor</key>
			<string>#d7356b</string>
			<key>categoryIcon</key>
			<string>iconTheater</string>
			<key>categoryPinIcon</key>
			<string>pinTheater</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d1fd941735</string>
			<key>categoryNameKey</key>
			<string>CategoryMall</string>
			<key>categoryColor</key>
			<string>#ed3b76</string>
			<key>categoryIcon</key>
			<string>iconMall</string>
			<key>categoryPinIcon</key>
			<string>pinMall</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d1f9941735</string>
			<key>categoryNameKey</key>
			<string>CategoryMarket</string>
			<key>categoryColor</key>
			<string>#e3523d</string>
			<key>categoryIcon</key>
			<string>iconMarket</string>
			<key>categoryPinIcon</key>
			<string>pinMarket</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d10a951735</string>
			<key>categoryNameKey</key>
			<string>CategoryBank</string>
			<key>categoryColor</key>
			<string>#e57830</string>
			<key>categoryIcon</key>
			<string>iconBank</string>
			<key>categoryPinIcon</key>
			<string>pinBank</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d113951735</string>
			<key>categoryNameKey</key>
			<string>CategoryGas</string>
			<key>categoryColor</key>
			<string>#e6a921</string>
			<key>categoryIcon</key>
			<string>iconGas</string>
			<key>categoryPinIcon</key>
			<string>pinGas</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4d4b7105d754a06376d81259</string>
			<key>categoryNameKey</key>
			<string>CategoryNight</string>
			<key>categoryColor</key>
			<string>#8ac03e</string>
			<key>categoryIcon</key>
			<string>iconNightlife</string>
			<key>categoryPinIcon</key>
			<string>pinNightlife</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d130951735</string>
			<key>categoryNameKey</key>
			<string>CategoryTaxi</string>
			<key>categoryColor</key>
			<string>#54cd5d</string>
			<key>categoryIcon</key>
			<string>iconTaxi</string>
			<key>categoryPinIcon</key>
			<string>pinTaxi</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d1fa931735</string>
			<key>categoryNameKey</key>
			<string>CategoryHotel</string>
			<key>categoryColor</key>
			<string>#51bb69</string>
			<key>categoryIcon</key>
			<string>iconHotel</string>
			<key>categoryPinIcon</key>
			<string>pinHotel</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d131941735</string>
			<key>categoryNameKey</key>
			<string>CategorySpirituel</string>
			<key>categoryColor</key>
			<string>#04b684</string>
			<key>categoryIcon</key>
			<string>iconSpirituel</string>
			<key>categoryPinIcon</key>
			<string>pinSpirituel</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4deefb944765f83613cdba6e</string>
			<key>categoryNameKey</key>
			<string>CategoryHistorical</string>
			<key>categoryColor</key>
			<string>#4662c0</string>
			<key>categoryIcon</key>
			<string>iconHistoric</string>
			<key>categoryPinIcon</key>
			<string>pinHistoric</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d196941735</string>
			<key>categoryNameKey</key>
			<string>CategoryHospital</string>
			<key>categoryColor</key>
			<string>#3a56b4</string>
			<key>categoryIcon</key>
			<string>iconHospital</string>
			<key>categoryPinIcon</key>
			<string>pinHospital</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d10f951735</string>
			<key>categoryNameKey</key>
			<string>CategoryPharmacy</string>
			<key>categoryColor</key>
			<string>#1f3c7b</string>
			<key>categoryIcon</key>
			<string>iconPharmacy</string>
			<key>categoryPinIcon</key>
			<string>pinPharmacy</string>
		</dict>
		<dict>
			<key>categoryId</key>
			<string>4bf58dd8d48988d12e941735</string>
			<key>categoryNameKey</key>
			<string>CategoryPolice</string>
			<key>categoryColor</key>
			<string>#052e66</string>
			<key>categoryIcon</key>
			<string>iconPolice</string>
			<key>categoryPinIcon</key>
			<string>pinPolice</string>
		</dict>
	</array>
</dict>
</plist>
